.digraph-gallery-display {
    .digraph-gallery-content {
        position:relative;
        background:#111;
        padding:1em;
        border-radius:$(border_radius_accent) $(border_radius_accent) 0 0;

        >img,
        .centered-content {
            display:block;
            max-width:100%;
            max-height:80vh;
            margin:0 auto;
        }
    }
    .digraph-gallery-meta {
        background:$(color_shade);
        padding:$(spacing_base);
        border-radius:0 0 $(border_radius_accent) $(border_radius_accent);
        overflow-x:hidden;
        overflow-y:auto;
        h1 {
            font-size: 1em;
        }
    }
}
.iframe-embedded .digraph-gallery-display {
    display:flex;

    .digraph-gallery-content {
        position:fixed;
        top:$(spacing_base);
        left:$(spacing_base);
        right:$(spacing_base);
        bottom:$(spacing_base);
        border-radius:0;

        >img,
        .centered-content {
            position:absolute;
            max-width:100%;
            max-height:100%;
            top:50%;
            left:50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .digraph-gallery-meta {
        color:#ccc;
        font-size:0.8em;
        font-size:2vmin;
        line-height:$(line_height_compact);

        .centered-content {
            padding-right:$(spacing_base);
            position:absolute;
            max-height:100%;
            top:50%;
            transform: translateY(-50%);
        }
    }
}

/* wide layout */
.iframe-embedded .digraph-gallery-display {
    .digraph-gallery-content {
        left:20%;
        box-sizing:border-box;
        padding-right:$(spacing_base);
    }
    .digraph-gallery-meta {
        position:fixed;
        background:transparent;
        box-sizing:border-box;
        left:0;
        top:0;
        bottom:0;
        right:80%;
        min-width:auto;
        max-width:auto;
        vertical-align:middle;
        overflow-x:hidden;
        overflow-y:auto;
    }
}

/* narrow layout */
@media (min-height:101vw) {
    .iframe-embedded .digraph-gallery-display {
        .digraph-gallery-content {
            left:$(spacing_base);
            bottom:20%;
            box-sizing:border-box;
        }
        .digraph-gallery-meta {
            right:0;
            left:0;
            bottom:0;
            top:80%;
            min-width:auto;
            max-width:100%;
        }
    }
}